<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9G0FoMnWQRilVCpvUAyO1SMIl_hN9Cs8</string>
	<key>GCM_SENDER_ID</key>
	<string>317744439214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lotusvu.ezs</string>
	<key>PROJECT_ID</key>
	<string>lotus-vu</string>
	<key>STORAGE_BUCKET</key>
	<string>lotus-vu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317744439214:ios:22d164de39edf2f9c8f23f</string>
	<key>DATABASE_URL</key>
	<string>https://lotus-vu-default-rtdb.firebaseio.com</string>
</dict>
</plist>